<div class="btn-group btn-group-justified navbar-fixed-bottom ">
    <div  class="btn-group">
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span>
        </button>
       </div>
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-list"></span>
            </button>
        </div>
</div>