<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">开饭啦</a>
            <button type="button" data-target="#myCollapse" class="navbar-toggle" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="myCollapse">

            <button type="button" class="btn btn-primary navbar-btn navbar-right">注册</button>
            <a href="register.html" class="navbar-text  navbar-right">&nbsp;|&nbsp;</a>
            <a href="login.html" class="navbar-text navbar-link navbar-right">登录</a>
        </div>
    </div>
</div>


